/* GLOBAL CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto:100,300&subset=latin-ext');

html,
body {
  max-width: 1920px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.section-title {
  position: absolute;
  top: 20vw;
  left: 15vw;
  font-size: 3vw;
  text-transform: uppercase;
  color: #fff;
}

.project-description {
  text-transform: uppercase;
}

.thin-font {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: #4f4e4e;
}

.project-description ul {
  list-style: none;
  line-height: 0.9vw;
  font-size: 0.9vw;
}

.project-description ul li:first-child {
  font-size: 24px;
  margin: 10px 0 20px;
}

.view-project {
  text-transform: uppercase;
  cursor: pointer;
}

.view-project::before {
  content: url('../images/projects/view-project-arrow-icon.png');
  margin-right: 0.8vw;
}

.heart {
  cursor: pointer;
}


/* HEADER */

.logo {
  margin-top: 50px;
  margin-bottom: 4px;
}

.header {
  background-color: rgb(233, 234, 226);
}

.logo-text {
  font-size: 1vw;
  line-height: 1vw;
}

.social-icons {
  margin-top: 15%;
}

.social-icons a {
  font-size: 2vw;
  padding: 2px;
  color: #7acec3;
}

.header__right {
  width: 100%;
}

/* MENU */
.menu {
  top: 50px;
  right: 19.2vw;
  height: 9px;
}

.burger {
  width: 9vw;
  height: 9vw;
  border: solid #fff 3px;
}

.burger span {
  height: 3px;
  width: 40px;
  background-color: #fff;
  transition: all .2s ease;
}

.burger span:nth-child(2) {
  margin: 4px 0;
}

.burger-bar1 {
  transform: rotate(45deg)translateY(3px);
  transition: all .2s ease;
}

.burger-bar2 {
  display: none;
}

.burger-bar3 {
  transform: rotate(-45deg)translateY(-1px);
  transition: all .2s ease;
}

.hide {
  right: 9vw;
  width: 0px;
  height: 9vw;
  transition: all .5s ease;
  overflow: hidden;
}

.hide a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.change-burger-bg {
  background-color: #f8c255;
  border: none;
  transition: all .5s ease;
}

.changebg {
  transition: all .5s ease;
  background-color: #f8c255;
  width: 575px;
}

.menu a {
  transition: .25s ease;
}

.menu a:hover {
  transform: scale(1.25);
  transition: .25s ease;
}

.address,
.email {
  color: #fff;
  font-size: 1vw;
  line-height: 1.1vw;
  text-transform: uppercase;
}

.address {
  top: 19vw;
  right: 22vw;
}

.email {
  top: 28vw;
  right: 12vw;
}

/* PROJECTS */

.projects-list {
  position: absolute;
  top: 10vw;
  left: 6vw;
  list-style: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2vw;
}

.projects-list__item {
  line-height: 1.4vw;
  cursor: pointer;
  position: relative;
}

.projects-list__item:hover {
  color: #000;
}

.projects-list__item img {
  display: none;
  position: absolute;
  left: -30px;
  top: 0vw;
}

.projects-list__item .active-arrow {
  display: block;
}

.active-arrow {
  display: block;
}

.projects-list__item:hover img {
  display: block;
  padding-right: 8px;
  position: absolute;
  left: -30px;
  top: 0vw;
}

.active {
  color: #000;
}

/* FONDUE */

.fondue {
  background-color: rgb(255, 255, 255);
  background-image: url('../images/projects/fondue.jpg');
  background-size: cover;
  background-position-x: right;
  background-repeat: no-repeat
}

.fondue .project-description {
  position: absolute;
  top: 4vw;
  left: 1vw;
}

.fondue .view-project {
  position: absolute;
  top: 18vw;
  left: 3vw;
}

.fondue .heart {
  position: absolute;
  top: 27vw;
  left: 7vw;
}

/* POTTER */

.potter .project-description {
  position: absolute;
  top: 2vw;
  left: 2vw;
  width: 12vw;
  line-height: 1vw;
}

.potter .project-name {
  font-size: 24px;
}

.potter .project-description p:first-of-type {
  text-transform: uppercase;
  font-size: 0.9vw;
  margin-bottom: 0;
}

.potter .project-description p:nth-of-type(2)::first-letter {
  text-transform: uppercase;
}

.potter .project-description p:nth-of-type(2) {
  font-family: 'Roboto'sans-serif;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 0.9vw;
}

.potter .view-project {
  position: absolute;
  top: 9.5vw;
  left: 2vw;
}

.potter .heart {
  position: absolute;
  top: 12.5vw;
  left: 6vw;
}

.potter {
  background-color: rgb(223, 224, 217);
}

/* TABANO */

.tabano {
  background-color: rgb(247, 247, 243)
}

.tabano .project-description {
  position: absolute;
  bottom: 2vw;
  left: 1vw;
}

.tabano .view-project {
  position: absolute;
  bottom: 5.2vw;
  left: 17vw;
}

.tabano .heart {
  position: absolute;
  bottom: 5.3vw;
  left: 27vw;
}

/* FIJI */

.fiji {
  background-color: rgb(255, 255, 255);
}

.fiji .project-description {
  position: absolute;
  top: 3vw;
  left: 14.5vw;
}

.fiji .view-project {
  position: absolute;
  bottom: 5.5vw;
  left: 17.5vw;
}

.fiji .heart {
  position: absolute;
  bottom: 2vw;
  left: 22.2vw;
}

/* LOUIS */
.louis .project-description {
  position: absolute;
  top: 2.5vw;
  left: 0.1vw;
  color: #fff;
}

.louis .project-description span {
  color: #fff;
}

.louis .view-project {
  position: absolute;
  top: 11vw;
  left: 3.2vw;
  color: #fff;
}

.louis .heart {
  position: absolute;
  top: 15vw;
  left: 8vw;
  color: #fff;
}

/* CHAIR AND OTTOMAN */
.chairandottoman,
.louis {
  background-color: rgb(234, 234, 234);
}

.chairandottoman {
  background-image: url('../images/projects/chairandottoman.jpg');
  background-size: cover;
  background-repeat: no-repeat
}

.chairandottoman .project-description {
  position: absolute;
  top: 7vw;
  left: 24vw;
}

.chairandottoman .view-project {
  position: absolute;
  bottom: 2.5vw;
  left: 17vw;
}

.chairandottoman .heart {
  position: absolute;
  bottom: 2.5vw;
  left: 27vw;
}

/* SESANN */

.sesann {
  background-color: rgb(252, 252, 252);
  background-image: url('../images/projects/sesann.jpg');
  background-size: contain;
  background-repeat: no-repeat
}

.sesann .project-description {
  position: absolute;
  bottom: 2vw;
  left: 5.5vw;
}

.sesann .view-project {
  position: absolute;
  bottom: 5.2vw;
  left: 22vw;
}

.sesann .heart {
  position: absolute;
  bottom: 5.3vw;
  left: 31.5vw;
}

/* ALESSI */

.alessi {
  background-color: rgb(206, 206, 206);
  background-image: url('../images/projects/alessi.jpg');
  background-size: cover;
  background-repeat: no-repeat
}

.alessi .project-description {
  position: absolute;
  top: 6.5vw;
  left: 10vw;
}

.alessi .view-project {
  position: absolute;
  bottom: 5.5vw;
  left: 10.5vw;
}

.alessi .heart {
  position: absolute;
  bottom: 3vw;
  left: 15vw;
}

/* TIMELINE */

.timeline {
  background-color: rgb(235, 178, 64);
}

.timeline__box {
  position: absolute;
  top: 4vw;
  left: 6vw;
  text-transform: uppercase;
}

.timeline__list {
  color: #fff;
  font-size: 1vw;
}

.timeline__list span {
  color: #000;
}

.timeline__list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.1;
}

.timeline__list li {
  cursor: pointer;
  position: relative;
  color: #fff;
}

.timeline__list li:hover {
  color: #000;
}

.timeline__list li img {
  display: none;
  position: absolute;
  left: -2.2vw;
  top: -.1vw;
}

.timeline__list li:hover img {
  display: block;
  padding-right: 1vw;
}

.timeline .timeline__active-arrow {
  display: block;
}

.timeline__active-arrow {
  display: block;
}

/* STUDIO */

.studio,
.staff {
  background-color: rgb(233, 234, 226);
}

.studio:last-child img {
  padding-top: 5vw;
  width: 25vw;
}

.studio .about {
  font-family: 'Roboto';
  font-size: 1vw;
  padding: 5vw 3vw 5vw 5vw;
  line-height: 1vw;
}

.studio__awards {
  width: 25vw;
}

.studio__awards h3 {
  text-transform: uppercase;
  font-size: 1vw;
  border-bottom: 1px solid #bbb5b5;
  margin: 3vw 0vw 2vw .3vw;
}

.studio__awards div {
  display: flex;
  justify-content: space-between;
}

.studio__awards ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1vw;
  text-transform: uppercase;
  line-height: 1vw;
}

/* STAFF */

.staff__about {
  position: absolute;
  top: 1vw;
  right: -1vw;
  width: 30vw;
  font-family: 'Roboto';
  font-size: 1vw;
  padding: 5vw 3vw 5vw 5vw;
  line-height: 1.2vw;
}

.staff__about h3 {
  font-size: 1vw;
  text-transform: uppercase
}

/* DESIGNERS */

.designers img {
  float: left;
  padding-right: 20px;
  padding-top: 15%;
  margin-bottom: 2vw;
}

.designers__about {
  width: 18.8vw;
  margin-top: 5vw;
}

.designers__about h4:first-of-type {
  font-weight: 400;
}

.designers__about h4:nth-of-type(2) {
  font-weight: 100
}

.designers__about h4 {
  margin: 0;
  padding: 0;
}

.designers__about h4 {
  font-size: 1vw;
  text-transform: uppercase;
}

.curriculum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vw;
}

.curriculum div:first-child {
  display: flex;
  align-items: center;
}

.curriculum img {
  margin: 0 0 0 1vw;
  cursor: pointer;
  padding: 0;
}

.curriculum,
.staff__socials a {
  color: rgb(253, 80, 0);
}

.staff__socials a {
  margin-left: .4vw;
}

/* NEWS */
.news {
  background-color: rgb(229, 233, 223);
}

/* FOOTER */

.footer {
  background-color: rgb(233, 234, 226);
}

/* GOOGLE MAPS */

#map {
  height: 644px;
}

.footer.address {
  background-color: rgb(238, 241, 217);
}

/* MEDIA QUERIES */
@media (orientation: portrait) {
  .changebg {
    width: 450px;
  }
}