/* GLOBAL CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto:100,300&subset=latin-ext');

html,
body {
  max-width: 1920px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.section-title {
  position: absolute;
  top: 20vw;
  left: 15vw;
  font-size: 3vw;
  text-transform: uppercase;
  color: #fff;
}

.project-description ul {
  text-transform: uppercase;
}

.thin-font {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: #4f4e4e;
}

.project-description ul {
  list-style: none;
  line-height: 0.9vw;
  font-size: 0.9vw;
}

.project-description ul li:first-child {
  font-size: 24px;
  margin: 10px 0 20px;
}

.view-project {
  text-transform: uppercase;
  cursor: pointer;
}

.view-project::before {
  content: url('../images/projects/view-project-arrow-icon.png');
  margin-right: 0.8vw;
}

.heart img {
  cursor: pointer;
}

.heart-counter p {
  color: rgb(253, 80, 0);
  text-align: center;
}

/* Heart animation */
.heart-animate {
  animation-name: heart;
  animation-duration: .4s;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* HEADER */
.logo {
  margin-top: 50px;
  margin-bottom: 4px;
}

.header {
  background-color: rgb(233, 234, 226);
}

.logo-text {
  font-size: 1vw;
  line-height: 1vw;
}

.social-icons {
  margin-top: 15%;
}

.social-icons a {
  font-size: 2vw;
  padding: 2px;
  color: #7acec3;
}

.header__right {
  width: 100%;
}

/* MENU */
.menu {
  top: 10%;
  left: 35%;
  height: 9px;
}

.burger {
  width: 9vw;
  height: 9vw;
  border: solid #e9eae2 0.15vw;
}

.burger span {
  height: .15vw;
  width: 3vw;
  background-color: #e9eae2;
  transition: all .2s ease;
}

.burger span:nth-child(2) {
  margin: .35vw 0;
}

.burger .burger-bar1 {
  transform: rotate(45deg)translateY(.1vw);
  transition: all .2s ease;
  background-color: #fff;
}

.burger .burger-bar2 {
  display: none;
}

.burger .burger-bar3 {
  transform: rotate(-45deg)translateY(-.1vw);
  transition: all .2s ease;
  background-color: #fff;
}

.hide {
  right: 9vw;
  width: 0px;
  height: 9vw;
  transition: all .5s ease;
  overflow: hidden;
}

.hide a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.change-burger-bg {
  background-color: #f8c255;
  border: none;
  transition: all .5s ease;
}

.changebg {
  transition: all .5s ease;
  background-color: #f8c255;
  width: 50vw;
}

.menu a {
  transition: .25s ease;
}

.menu a:hover {
  transform: scale(1.25);
  transition: .25s ease;
}

.address,
.email {
  color: #e9eae2;
  font-size: 1vw;
  line-height: 1.1vw;
  text-transform: uppercase;
}

.address {
  top: 19vw;
  right: 22vw;
}

.email {
  top: 28vw;
  right: 12vw;
}

/* PROJECTS */
.projects-list {
  position: absolute;
  top: 10vw;
  left: 6vw;
  list-style: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2vw;
}

.projects-list__item {
  line-height: 1.4vw;
  cursor: pointer;
  position: relative;
}

.projects-list__item:hover {
  color: #000;
}

.projects-list__item img {
  display: none;
  position: absolute;
  left: -30px;
  top: .1vw;
}

.projects-list__item .active-arrow {
  display: block;
}

.active-arrow {
  display: block;
}

.projects-list__item:hover img {
  display: block;
  padding-right: 8px;
  position: absolute;
  left: -30px;
  top: 0.1vw;
}

.active {
  color: #000;
}

/* FOUDE - SINGLE PROJECT */
.modal-wrap {
  display: none;
}

.show {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
}

.fondue__details-hide {
  position: absolute;
  top: -5vw;
  right: 6vw;
  height: 5vw;
  width: 5vw;
  border: solid rgb(114, 112, 112) .1vw;
}

.fondue__details-hide span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background-color: rgb(114, 112, 112);
  width: 3vw;
  height: .1vw;
}

.fondue__details-hide span:first-child {
  transform: translateX(-50%) rotate(45deg);
}

.fondue__details-hide span:last-child {
  transform: translateX(-50%) rotate(-45deg);
}

.fondue__details {
  background-color: #fff;
}

.fondue__details {
  top: 10vw;
}

.fondue__details .project-description p {
  padding-left: 40px;
  font-size: 1vw;
  line-height: 1vw;
}

.carousel .box {
  top: -30vw;
  right: -15vw;
  z-index: 1;
  width: 30vw;
  height: 40vw;
}

/* FONDUE */
.fondue {
  background-color: rgb(255, 255, 255);
  background-image: url('../images/projects/fondue.jpg');
  background-size: cover;
  background-position-x: right;
  background-repeat: no-repeat
}

.fondue .project-description {
  position: absolute;
  top: 4vw;
  left: 1vw;
}

.fondue .view-project {
  position: absolute;
  top: 18vw;
  left: 3vw;
}

.fondue .heart {
  position: absolute;
  top: 20.5vw;
  left: 7vw;
}

/* POTTER */
.potter .project-description {
  position: absolute;
  top: 2vw;
  left: 2vw;
  width: 12vw;
  line-height: 1vw;
}

.potter .project-name {
  font-size: 24px;
}

.potter .project-description p:first-of-type {
  text-transform: uppercase;
  font-size: 0.9vw;
  margin-bottom: 0;
}

.potter .project-description p:nth-of-type(2)::first-letter {
  text-transform: uppercase;
}

.potter .project-description p:nth-of-type(2) {
  font-family: 'Roboto'sans-serif;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 0.9vw;
}

.potter .view-project {
  position: absolute;
  top: 11vw;
  left: 2vw;
}

.potter .heart {
  position: absolute;
  top: 13.5vw;
  left: 6.5vw;
}

.potter {
  background-color: rgb(223, 224, 217);
}

/* TABANO */
.tabano {
  background-color: rgb(247, 247, 243)
}

.tabano .project-description {
  position: absolute;
  bottom: 2vw;
  left: 1vw;
}

.tabano .view-project {
  position: absolute;
  bottom: 5.2vw;
  left: 19vw;
}

.tabano .heart {
  position: absolute;
  bottom: -.2vw;
  left: 23.8vw;
}

/* FIJI */
.fiji {
  background-color: rgb(255, 255, 255);
}

.fiji .project-description {
  position: absolute;
  top: 3vw;
  left: 14.5vw;
}

.fiji .view-project {
  position: absolute;
  bottom: 5.5vw;
  left: 17.5vw;
}

.fiji .heart {
  position: absolute;
  bottom: .3vw;
  left: 22.2vw;
}

/* LOUIS */
.louis .project-description {
  position: absolute;
  top: 2.5vw;
  left: 0.1vw;
  color: #fff;
}

.louis .project-description span {
  color: #fff;
}

.louis .view-project {
  position: absolute;
  top: 11vw;
  left: 3.2vw;
  color: #fff;
}

.louis .heart {
  position: absolute;
  top: 13.5vw;
  left: 8vw;
  color: #fff;
}

.louissec {
  display: none;
}

/* CHAIR AND OTTOMAN */
.chairandottoman,
.louis {
  background-color: rgb(234, 234, 234);
}

.chairandottoman {
  background-image: url('../images/projects/chairandottoman.jpg');
  background-size: cover;
  background-repeat: no-repeat
}

.chairandottoman .project-description {
  position: absolute;
  top: 7vw;
  left: 24vw;
}

.chairandottoman .view-project {
  position: absolute;
  bottom: 2.5vw;
  left: 17vw;
}

.chairandottoman .heart {
  position: absolute;
  bottom: .5vw;
  left: 27vw;
}

/* SESANN */
.sesann {
  background-color: rgb(252, 252, 252);
  background-image: url('../images/projects/sesann.jpg');
  background-size: contain;
  background-repeat: no-repeat
}

.sesann .project-description {
  position: absolute;
  bottom: 2vw;
  left: 5.5vw;
}

.sesann .view-project {
  position: absolute;
  bottom: 5.2vw;
  left: 22vw;
}

.sesann .heart {
  position: absolute;
  bottom: 3vw;
  left: 31.5vw;
}

/* ALESSI */
.alessi {
  background-color: rgb(206, 206, 206);
  background-image: url('../images/projects/alessi.jpg');
  background-size: cover;
  background-repeat: no-repeat
}

.alessi .project-description {
  position: absolute;
  top: 6.5vw;
  left: 10vw;
}

.alessi .view-project {
  position: absolute;
  bottom: 5.5vw;
  left: 10.5vw;
}

.alessi .heart {
  position: absolute;
  bottom: .5vw;
  left: 15vw;
}

/* TIMELINE */
.timeline {
  background-color: rgb(235, 178, 64);
}

.timeline__box {
  position: absolute;
  top: 4vw;
  left: 6vw;
  text-transform: uppercase;
}

.timeline__list {
  color: #fff;
  font-size: 1vw;
}

.timeline__list span {
  color: #000;
}

.timeline__list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.1;
}

.timeline__list li {
  cursor: pointer;
  position: relative;
  color: #fff;
}

.timeline__list li:hover {
  color: #000;
}

.timeline__list li img {
  display: none;
  position: absolute;
  left: -2.2vw;
  top: -.1vw;
}

.timeline__list li:hover img {
  display: block;
  padding-right: 1vw;
}

.timeline .timeline__active-arrow {
  display: block;
}

.timeline__active-arrow {
  display: block;
}

/* STUDIO */
.studio,
.staff {
  background-color: rgb(233, 234, 226);
}

.studio:last-child img {
  padding-top: 5vw;
  width: 25vw;
}

.studio .about {
  font-family: 'Roboto';
  font-size: 1vw;
  padding: 5vw 3vw 5vw 5vw;
  line-height: 1vw;
}

.studio__awards {
  width: 25vw;
}

.studio__awards h3 {
  text-transform: uppercase;
  font-size: 1vw;
  border-bottom: 1px solid #bbb5b5;
  margin: 3vw 0vw 2vw .3vw;
}

.studio__awards div {
  display: flex;
  justify-content: space-between;
}

.studio__awards ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1vw;
  text-transform: uppercase;
  line-height: 1vw;
}

/* STAFF */
.staff__about {
  position: absolute;
  top: 1vw;
  right: -1vw;
  width: 30vw;
  font-family: 'Roboto';
  font-size: 1vw;
  padding: 5vw 3vw 5vw 5vw;
  line-height: 1.2vw;
}

.staff__about h3 {
  font-size: 1vw;
  text-transform: uppercase
}

/* DESIGNERS */
.designers img {
  float: left;
  padding-right: 20px;
  padding-top: 15%;
  margin-bottom: 2vw;
}

.designers__about {
  width: 18.8vw;
  margin-top: 5vw;
}

.designers__about h4:first-of-type {
  font-weight: 400;
}

.designers__about h4:nth-of-type(2) {
  font-weight: 100
}

.designers__about h4 {
  margin: 0;
  padding: 0;
}

.designers__about h4 {
  font-size: 1vw;
  text-transform: uppercase;
}

.curriculum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vw;
}

.curriculum div:first-child {
  display: flex;
  align-items: center;
}

.curriculum img {
  margin: 0 0 0 1vw;
  cursor: pointer;
  padding: 0;
}

.curriculum,
.staff__socials a {
  color: rgb(253, 80, 0);
}

.staff__socials a {
  margin-left: .4vw;
}

/* NEWS */
.news {
  background-color: rgb(229, 233, 223);
}

.news__box {
  position: absolute;
  top: 3vw;
  width: 25vw;
  min-height: 29vw;
}

.news__box img {
  max-width: 100%;
  height: auto;
}

.news__box-left {
  right: 0vw;
  margin-right: 1vw;
}

.news__box-right {
  left: 0vw;
  margin-left: 1vw;
}

.news__box h2 {
  font-family: 'Roboto'sans-serif;
  text-transform: uppercase;
  font-size: 1.5vw;
}

.news__box h6 {
  top: 4vw;
  font-size: .9vw;
  color: #6c757d;
}

.news__box figure {
  top: 5.5vw;
}

.caption-styles {
  font-family: Roboto;
  font-size: 1vw;
  line-height: 1.2vw;
}

.text-justify {
  text-align: justify;
}

.read-more {
  position: absolute;
  bottom: 2.5vw;
  right: 0;
  font-size: 1vw;
  text-transform: uppercase;
  color: rgb(253, 80, 0);
}

.read-more:hover {
  text-decoration: none;
  color: rgb(253, 80, 0);
}

/* FOOTER */
.footer {
  background-color: rgb(233, 234, 226);
  height: 40vw;
  overflow: hidden;
}

/* CONTACT*/
.footer__contact {
  transform: translateX(8vw);
  height: 100%;
  width: 40%;
  font-size: 1vw;
  line-height: 1.1vw;
  text-transform: uppercase;
}

.footer__contact,
.footer__socials {
  top: 8vw;
}

.footer__socials-logo {
  margin-bottom: 4px;
}

.footer__socials-logo,
.footer__socials .logo-text,
.footer__socials-items {
  width: 40%;
}

.footer__socials-items {
  text-align: center;
  margin-top: 10%;
}

.footer__socials-items a {
  padding-right: .4vw;
  font-size: 1.5vw;
  color: #7acec3;
}

.footer__socials-items a:first-of-type {
  padding-left: .4vw;
}

.footer__copyright {
  transform: translateX(8vw);
  bottom: 2.5vw;
}

.footer__copyright p {
  font-size: 1vw;
}

/* Button go to top */
.btnToTop {
  display: none;
  position: fixed;
  right: 5vw;
  bottom: 5vw;
  width: 4vw;
  height: 4vw;
  border: solid .3vw #7acec3;
  opacity: .5;
  cursor: pointer;
}

.showBtnToTop {
  display: block;
}

.btnToTop:hover {
  border: solid .2vw #7acec3;
}

.fa-chevron-up {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;
  color: #7acec3;
  transition: .1s linear;
}

/* MEDIA QUERIES */
@media (orientation: portrait) {
  .changebg {
    width: 450px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    font-size: 1.2vw;
  }

  body .heart img {
    width: 2vw;
  }

  .project-description ul {
    line-height: 1.3vw;
    font-size: 1.3vw;
  }

  .view-project::before {
    position: relative;
    top: .3vw;
  }

  /* HEADER */
  .address,
  .email {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }

  .email {
    top: 28vw;
    right: 11vw;
  }

  /* PROJECTS */
  .projects-list {
    top: 10vw;
    left: 1vw;
  }

  .projects-list__item {
    line-height: 2vw;
    font-size: 1.7vw;
  }

  .projects-list__item:hover img,
  .projects-list__item img {
    top: .2vw;
  }

  .header .logo-text {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }

  .fondue .heart {
    left: 8.2vw;
  }

  .potter .project-description p:first-of-type {
    font-size: 1.4vw;
    margin-bottom: .5vw;
  }

  .potter .project-description p:nth-of-type(2) {
    font-size: 1.2vw;
  }

  .potter .view-project {
    top: 12vw;
  }

  .potter .heart {
    top: 14vw;
    left: 7.2vw;
  }

  .tabano .project-description {
    bottom: 2vw;
    left: -2.5vw;
  }

  .tabano .view-project {
    bottom: 5vw;
    left: 20vw;
  }

  .tabano .heart {
    bottom: -.8vw;
    left: 25vw;
  }

  .louis .view-project {
    top: 13vw;
    left: 4vw;
  }

  .louis .heart {
    top: 15.5vw;
    left: 9vw;
  }

  .chairandottoman .heart {
    bottom: -.5vw;
    left: 28vw;
  }

  .fiji .view-project {
    bottom: 1vw;
    left: 17vw;
  }

  .fiji .heart {
    bottom: -1.9vw;
    left: 28vw;
  }

  .sesann .project-description {
    bottom: 0vw;
    left: 0vw;
  }

  .sesann .view-project {
    bottom: 2vw;
    left: 25vw;
  }

  .sesann .heart {
    bottom: -1vw;
    left: 36vw;
  }

  .alessi .project-description {
    top: 3vw;
    left: 10vw;
  }

  .alessi .view-project {
    left: 12vw;
  }

  .alessi .heart {
    bottom: -.1vw;
    left: 17vw;
  }

  /* TIMELINE */
  .timeline__box {
    top: 2.5vw;
    left: 4vw;
    font-size: 1.4vw;
  }

  .timeline__list li img {
    left: -2.5vw;
    top: -.2vw;
  }

  .timeline__list {
    font-size: 1.4vw;
  }

  /* STUDIO */
  .studio .about {
    font-size: 1.4vw;
    padding: 2vw 3vw 2vw 2vw;
    line-height: 1.4vw;
  }

  .studio .about p {
    margin-bottom: .5vw;
  }

  .studio:last-child img {
    padding-top: 2vw;
    width: 26vw;
  }

  .studio__awards {
    width: 26vw;
  }

  .studio__awards h3 {
    font-size: 1.4vw;
  }

  .studio__awards ul {
    font-size: 1.2vw;
    line-height: 1.2vw;
  }

  .staff__about h3 {
    font-size: 1.4vw;
  }


  .staff__about {
    right: -1vw;
    font-size: 1.4vw;
    padding: 2vw 3vw 2vw 2vw;
  }

  /* NEWS */
  .news .caption-styles {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }

  .news .read-more {
    bottom: -1.5vw;
  }

  /* FOOTER */
  .footer__contact {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }

  .footer .logo-text {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body .view-project::before {
    position: relative;
    top: .25vw;
    left: 0vw;
  }

  body .heart {
    font-size: 1.5vw;
    text-align: center;
  }

  body .heart img {
    width: 2.5vw;
  }

  /* HEADER */

  .header .logo-text {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }

  .header .address p,
  .header .email p {
    display: none;
  }

  /* PROJECTS */
  .project-description ul {
    line-height: 1.4vw;
    font-size: 1.4vw;
  }

  .projects-list {
    top: 9vw;
    left: .1vw;
  }

  .projects-list__item {
    line-height: 2vw;
    font-size: 1.9vw;
  }

  .projects-list__item:hover img,
  .projects-list__item img {
    top: -.3vw;
  }

  /* FONDUE */
  .fondue .project-description {
    top: 2vw;
    left: -2vw;
  }

  .fondue .view-project {
    top: 17.5vw;
    left: 3vw;
  }

  .fondue .heart {
    left: 11vw;
    top: 22vw;
  }

  /* POTTER */
  .potter .project-description p:first-of-type {
    font-size: 1.4vw;
    margin-bottom: .5vw;
  }

  .potter .project-description p:nth-of-type(2) {
    font-size: 1.2vw;
  }

  .potter .view-project {
    top: 14vw;
    left: 1vw;
  }

  .potter .heart {
    top: 1vw;
    left: 14vw;
  }

  .tabano .project-description {
    bottom: -1vw;
    left: -2.5vw;
  }

  .tabano .view-project {
    bottom: 1vw;
    left: 16vw;
  }

  .tabano .heart {
    bottom: 4vw;
    left: 25vw;
  }

  .louis .view-project {
    top: 15vw;
    left: 4vw;
  }

  .louis .heart {
    top: 18.5vw;
    left: 11vw;
  }

  .chairandottoman .project-description {
    top: 3vw;
    left: 19vw;
  }

  .chairandottoman .view-project {
    bottom: 2.5vw;
    left: 3vw;
  }

  .chairandottoman .heart {
    bottom: -.5vw;
    left: 21vw;
  }

  .fiji .project-description {
    top: 1vw;
    left: 12vw;
  }

  .fiji .view-project {
    bottom: -1vw;
    left: 10vw;
  }

  .fiji .heart {
    bottom: -.5vw;
    left: 28vw;
  }

  .sesann .project-description {
    bottom: -1.5vw;
    left: 0vw;
  }

  .sesann .view-project {
    bottom: 2vw;
    left: 25vw;
  }

  .sesann .heart {
    bottom: 4vw;
    left: 33vw;
  }

  .alessi .project-description {
    top: 1vw;
    left: 8vw;
  }

  .alessi .view-project {
    left: 2vw;
    bottom: 2vw;
  }

  .alessi .heart {
    bottom: -1vw;
    left: 20vw;
  }

  /* TIMELINE */
  .timeline__box {
    top: 1.5vw;
    left: 4vw;
    font-size: 2vw;
  }

  .timeline__list li img {
    left: -3vw;
    top: -.3vw;
  }

  .timeline__list {
    font-size: 1.6vw;
  }

  /* STUDIO */
  .studio .about {
    font-size: 1.6vw;
    padding: 2vw 2vw 1vw 2vw;
    line-height: 1.5vw;
  }

  .studio .about p {
    margin-bottom: .5vw;
  }

  .studio:last-child img {
    padding-top: 2vw;
    width: 26vw;
  }

  .studio__awards {
    width: 33vw;
  }

  .studio__awards h3 {
    font-size: 1.6vw;
  }

  .studio__awards ul {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }

  /* STAFF */
  .staff__about h3 {
    font-size: 1.4vw;
  }

  .staff__about {
    right: 2vw;
    font-size: 1.6vw;
    line-height: 1.5vw;
    padding: 2vw 2vw 2vw 2vw;
  }

  .staff__about p {
    margin-bottom: .5vw;
  }

  .designers__about h4 {
    font-size: 1.4vw;
  }

  /* NEWS */
  .news .caption-styles {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }

  .news .read-more {
    bottom: -1.5vw;
  }

  .news__box figcaption {
    font-size: 1.5vw;
    line-height: 1.5vw;
  }

  /* FOOTER */
  .footer__contact {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }

  .footer .logo-text {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait) {

  /* HEADER */
  .header {
    height: 100vh;
    overflow: hidden;
  }

  .header .header__left {
    padding: 0 10px;
  }

  .header .logo {
    max-width: 25vw;
    margin-top: 10vw;
    margin-bottom: 4px;
  }

  .header .logo-text {
    font-size: 3.5vw;
    line-height: 3.5vw;
  }

  .header .social-icons {
    visibility: hidden;
  }

  .header .bgchairs {
    position: absolute;
    top: 80vw;
    right: -10vw;
    max-width: 160vw;
  }

  /* MENU */
  .header .header__right {
    visibility: hidden;
  }

  .header__right .menu {
    visibility: hidden;
  }

  .header__right .menu {
    visibility: visible;
    top: -25vw;
    left: 75vw;
  }

  .header__right .menu .burger {
    width: 11vw;
    height: 11vw;
    border: solid #7acec3 .8vw;
    z-index: 5;
  }

  .burger span {
    height: .5vw;
    width: 5vw;
    background-color: #7acec3;
    transition: all .2s ease;
  }

  .burger span:nth-child(2) {
    margin: 9% 0;
  }

  .burger .burger-bar1 {
    transform: rotate(45deg)translateY(1px);
    transition: all .2s ease;
    background-color: #7acec3;
  }

  .burger .burger-bar3 {
    transform: rotate(-45deg)translateY(-1px);
    transition: all .2s ease;
    background-color: #7acec3;
  }

  .hide {
    flex-direction: column;
    top: -50%;
    right: 5vw;
    width: 0px;
    height: 50vw;
    transition: all .2s ease;
  }

  .hide a {
    font-size: 18px;
    color: #7acec3;
    text-decoration: none;
  }

  .change-burger-bg {
    background-color: transparent;
    border: none;
    transition: all .2s ease;
  }

  .changebg {
    transition: all .2s ease;
    background-color: transparent;
    width: 55vw;
  }

  /* PROJECTS */
  .projects .projects-start {
    height: 100vh;
  }

  .projects .projects-start .bgprojects {
    height: 100vh;
  }

  .projects-list {
    top: 15vw;
    left: 8vw;
    font-size: 6vw;
  }

  .projects-list__item {
    line-height: 12vw;
  }

  .projects-list__item img {
    top: 2.2vw;
    visibility: hidden;
  }

  .projects-list__item:hover img {
    top: 2.2vw;
    width: 8vw;
  }

  .projects .section-title {
    top: 130vw;
    left: 40vw;
    font-size: 10vw;
  }

  .project-description ul {
    line-height: 3.3vw;
    font-size: 3.3vw;
  }

  /* FOUDE - SINGLE PROJECT */
  .fondue__details-hide {
    top: 1vw;
    right: 10vw;
    height: 10vw;
    width: 10vw;
  }

  .fondue__details-hide span {
    width: 6vw;
    height: .2vw;
    z-index: 10;
  }

  .fondue__details .project-description p {
    padding: 0 10%;
    font-size: 3vw;
    line-height: 3vw;
  }

  .carousel .box {
    top: 40vw;
    right: 50%;
    width: 40vw;
    height: 40vw;
  }

  /* FONDUE */
  .fondue {
    height: 80vw;
  }

  .fondue .view-project {
    top: 40vw;
    left: 15vw;
  }

  .fondue .heart {
    top: 50vw;
    left: 30vw;
  }

  /* LOUIS */
  .louis>img {
    width: 50vw;
  }

  .louis .view-project {
    top: 3.5vw;
    left: 60vw;
  }

  .louis .heart {
    top: 12vw;
    left: 75vw;
  }

  .louissec {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: scaleX(-1);
    filter: FlipH;
  }

  /* CHAIR AND OTTOMAN */
  .chairandottoman {
    height: 80vw;
  }

  .chairandottoman .project-description {
    left: 40vw;
  }

  .chairandottoman .view-project {
    bottom: 8vw;
    left: 10vw;
  }

  .chairandottoman .heart {
    top: 63vw;
    left: 50vw;
  }

  /* POTTER */

  .potter {
    height: 50vw;
  }

  .potter>img {
    position: relative;
    top: 5vw;
    right: -10vw;
    width: 80vw;
  }

  .potter .project-description {
    top: 5vw;
    left: 5vw;
    width: 40vw;
    line-height: 3vw;
  }

  .potter .project-description p:first-of-type {
    font-size: 3vw;
  }

  .potter .project-description p:nth-of-type(2) {
    font-size: 3vw;
  }

  .potter .view-project {
    top: 35vw;
    left: 5vw;
  }

  .potter .heart {
    top: 32vw;
    left: 40vw;
  }

  /* TABANO */

  .tabano {
    height: 80vw;
    overflow: hidden;
  }

  .tabano>img {
    position: relative;
    right: -15vw;
  }

  .tabano .project-description {
    top: 10vw;
    left: 5vw;
  }

  .tabano .heart {
    left: 55vw;
    bottom: -2vw;
  }

  /* FIJI */

  .fiji {
    height: 60vw;
    overflow: hidden;
  }

  .fiji>img {
    position: relative;
    left: 10vw;
  }

  .fiji .project-description {
    top: 8vw;
    left: 42vw;
  }

  .fiji .view-project {
    left: 20vw;
  }

  .fiji .heart {
    bottom: -2vw;
    left: 55vw;
  }

  /* SESANN */
  .sesann {
    height: 60vw;
    overflow: hidden;
  }

  .sesann .view-project {
    top: 31vw;
    left: 50vw;
  }

  .sesann .heart {
    left: 85vw;
    bottom: 15vw;
  }

  /* ALESSI */
  .alessi {
    height: 60vw;
    overflow: hidden;
    background-size: auto;
  }

  .alessi .project-description {
    left: 35vw;
  }

  .alessi .view-project {
    left: 30vw;
  }

  /* TIMELINE */
  .timeline {
    overflow: hidden;
  }

  .timeline>img {
    position: relative;
    top: -20px;
    left: 20px;
    height: 50vh;
    transform: rotate(14deg);
  }

  .timeline__box span {
    font-size: 10vw;
  }

  .timeline__box .timeline__list {
    position: absolute;
    top: 15vw;
    right: -40vw;
    font-size: 7vw;
    line-height: 12vw;
  }

  .timeline__box .timeline__list img {
    visibility: hidden;
  }

  /* STUDIO */
  .studio>img {
    height: 50vh;
    width: 100vw;
  }

  .studio h3 {
    top: 4vw;
    left: 6vw;
    font-size: 10vw;
  }

  .studio .about {
    font-size: 4vw;
    line-height: 4vw;
    padding: 10vw;
  }

  .studio .studio__right img {
    width: 100vw;
  }

  .studio .studio__awards h3 {
    margin-top: 10vw;
    margin-left: 10vw;
  }

  .studio .studio__awards {
    width: 50vw;
  }

  .studio .studio__awards div {
    width: 100vw;
    justify-content: space-around;
  }

  .studio .studio__awards div ul {
    font-size: 3vw;
    line-height: 4vw;
  }

  /* STAFF */
  .staff .staff__about h3 {
    font-size: 4vw;
  }

  .staff .staff__about {
    width: 100vw;
    font-size: 4vw;
    line-height: 4vw;
    padding: 10vw;
  }

  .staff .designers img {
    margin: 0;
    padding: 0;
  }

  .designers__about h4 {
    font-size: 3vw;
  }

  .staff .designers div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .staff .designers .designers__about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    margin-top: 0;
    margin-bottom: 4vw;
    padding: 0 10vw;
  }

  .staff .designers .designers__about div:first-of-type {
    display: flex;
    flex-direction: column;
  }

  .staff .designers .designers__about .curriculum div:first-of-type {
    display: none;
  }

  .staff .designers .designers__about .curriculum .staff__socials a {
    padding: 1vw;
  }

  /* NEWS */
  .news {
    overflow: hidden;
  }

  .news>img,
  .studio>img {
    height: 50vh;
    width: 100vw;
  }

  .news h3,
  .studio h3 {
    top: 4vw;
    left: 6vw;
    font-size: 10vw;
  }

  .news__box {
    height: 45vh;
    width: 100vw;
    position: static;
  }

  .news__box-left {
    position: relative;
    left: 20%;
    margin-right: 0;
    margin-bottom: 5vw;
  }

  .news__box-right {
    position: relative;
    left: 30%;
    margin-left: 0;
  }

  .news__box h2 {
    max-width: 50%;
    font-size: 4vw;
    margin-bottom: 3vw;
  }

  .news__box h6 {
    top: 10vw;
    font-size: 2.5vw;
  }

  .news__box img {
    margin-top: 10vw;
    max-width: 50%;
    height: auto;
  }

  .news__box figcaption {
    font-size: 3vw;
    padding-right: 50%;
  }

  .read-more {
    bottom: 2.5vw;
    right: 50%;
    font-size: 3vw;
  }

  .news__box-right .read-more {
    bottom: 11vw;
  }

  /* FOOTER */
  .footer {
    height: 100vh;
  }

  .footer div:nth-of-type(1) {
    height: 30vh;
  }

  .footer div:nth-of-type(2) {
    height: 70vh;
  }

  .footer__socials {
    top: -45vw;
  }

  .footer .footer__contact {
    transform: translateX(0);
    width: 100vw;
    top: 130%;
  }

  .footer .footer__contact p {
    font-size: 4vw;
    line-height: 4vw;
    text-align: center;
  }

  .footer .footer__contact p:nth-of-type(2) {
    font-size: 5vw;
    line-height: 5vw;
  }

  .footer__socials img {
    max-width: 30%;
    height: auto;
  }

  .footer__socials .logo-text {
    max-width: 30%;
    font-size: 3vw;
    line-height: 3vw;
    max-height: 5%;
  }

  .footer__socials-items {
    margin-top: 5%;
  }

  .footer__socials-items a {
    font-size: 5vw;
    padding: 1vw
  }

  .footer__copyright,
  .footer__copyright p {
    position: absolute;
    width: 100vw;
    top: 65%;
    left: 50vw;
    transform: translateX(-50vw);
    text-align: center;
    font-size: 2vw;
    margin-right: 0;
  }

  /* BUTTON 'GO TO TOP' */
  .btnToTop {
    right: 10vw;
    bottom: 10vw;
    width: 10vw;
    height: 10vw;
  }

  .fa-chevron-up {
    font-size: 6vw;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: landscape) {
  body .heart {
    font-size: 2vw;
    text-align: center;
  }

  body .heart img {
    width: 2.5vw;
  }

  body .view-project {
    display: flex;
    font-size: 1.8vw;
  }

  .project-description ul {
    line-height: 1.4vw;
    font-size: 1.4vw;
  }

  .header .logo-text {
    font-size: 1.5vw;
    line-height: 1.5vw;
  }

  .header .address p,
  .header .email p {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }

  /* PROJECTS */
  .projects-list {
    top: 4vw;
    left: -4vw;
  }

  .projects-list__item {
    line-height: 3vw;
    font-size: 2.5vw;
  }

  .projects-list__item img {
    top: 2.2vw;
    visibility: hidden;
  }

  .projects-start .section-title {
    top: 25vw;
    left: 17vw;
  }

  /* FOUDE - SINGLE PROJECT */
  .fondue__details-hide {
    top: -5vw;
    right: 5vw;
    height: 8vw;
    width: 8vw;
  }

  .fondue__details-hide span {
    width: 5vw;
    height: .2vw;
    z-index: 10;
  }

  .fondue__details .project-description {
    top: -5vw;
  }

  .carousel .box {
    top: -10vw;
    right: -70%;
    width: 25vw;
    height: 25vw;
  }

  /* FONDUE */
  .fondue .project-description {
    left: -2vw;
  }

  .fondue .view-project {
    top: 28vw;
    left: 5vw;
  }

  .fondue .heart {
    top: 27vw;
    left: 25vw;
  }

  /* POTTER */
  .potter {
    height: 120px;
  }

  .potter>img {
    position: relative;
    left: 8vw;
    width: 70%;
  }

  .potter .project-description p:first-of-type {
    font-size: 1.8vw;
    margin-bottom: 1vw;
  }

  .potter .project-description p:nth-of-type(2) {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }

  .potter .view-project {
    top: 14vw;
    left: 15vw;
  }

  .potter .heart {
    top: 1vw;
    left: 13vw;
  }

  /* TABANO */
  .tabano .project-description {
    bottom: -1vw;
    left: -2.5vw;
  }

  .tabano .view-project {
    bottom: 1vw;
    left: 17vw;
  }

  .tabano .heart {
    bottom: 5vw;
    left: 25vw;
  }

  /* LOUIS */
  .louis .view-project {
    top: 30vw;
    left: 4vw;
  }

  .louis .heart {
    top: 17vw;
    left: 11vw;
  }

  /* CHIAR AND OTTOMAN */
  .chairandottoman .project-description {
    top: 3vw;
    left: 19vw;
  }

  .chairandottoman .view-project {
    bottom: 2.5vw;
    left: 3vw;
  }

  .chairandottoman .heart {
    bottom: -.5vw;
    left: 21vw;
  }

  /* FIJI */
  .fiji .project-description {
    top: 1vw;
    left: 12vw;
  }

  .fiji .view-project {
    bottom: -1vw;
    left: 10vw;
  }

  .fiji .heart {
    bottom: -2vw;
    left: 28vw;
  }

  /* SESANN */
  .sesann .project-description {
    bottom: -1.5vw;
    left: 0vw;
  }

  .sesann .project-description ul li:first-child {
    margin: 10px 0 10px;
  }

  .sesann .view-project {
    bottom: 2vw;
    left: 25vw;
  }

  .sesann .heart {
    bottom: 4vw;
    left: 33vw;
  }

  /* ALESSI */
  .alessi .project-description {
    top: 1vw;
    left: 2vw;
  }

  .alessi .view-project {
    left: 2vw;
    bottom: 2vw;
  }

  .alessi .heart {
    bottom: -1vw;
    left: 20vw;
  }

  /* TIMELINE */
  .timeline__box {
    top: 1.5vw;
    left: 4vw;
    font-size: 2vw;
  }

  .timeline__list li img {
    left: -3vw;
    top: -.3vw;
  }

  .timeline__list {
    font-size: 1.6vw;
  }

  /* STUDIO */
  .studio .about {
    font-size: 1.6vw;
    padding: 2vw 2vw 1vw 2vw;
    line-height: 1.5vw;
  }

  .studio .about p {
    margin-bottom: .5vw;
  }

  .studio:last-child img {
    padding-top: 2vw;
    width: 26vw;
  }

  .studio__awards {
    width: 33vw;
  }

  .studio__awards h3 {
    font-size: 1.6vw;
  }

  .studio__awards ul {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }

  /* STAFF */
  .staff__about h3 {
    font-size: 1.4vw;
  }

  .staff__about {
    right: 2vw;
    font-size: 1.6vw;
    line-height: 1.5vw;
    padding: 2vw 2vw 2vw 2vw;
  }

  .staff__about p {
    margin-bottom: .5vw;
  }

  .designers__about h4 {
    font-size: 1.4vw;
  }

  .designers__about .curriculum {
    font-size: 2vw;
  }

  /* NEWS */
  .news .caption-styles {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }

  .news .read-more {
    bottom: -1.5vw;
  }

  .news__box figcaption {
    font-size: 1.5vw;
    line-height: 1.5vw;
  }

  /* FOOTER */
  .footer__contact {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }

  .footer .logo-text {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }

  .footer__socials-items {
    width: 100%;
    margin-top: -5%;
  }

  .footer__socials-items a {
    font-size: 2vw;
  }

  /* BUTTON 'GO TO TOP' */
  .btnToTop {
    right: 10vw;
    bottom: 10vw;
    width: 5vw;
    height: 5vw;
  }

  .fa-chevron-up {
    font-size: 3vw;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {

  /* POTTER */
  .potter .view-project {
    top: 14vw;
  }

  .potter .heart {
    top: 2.5vw;
    left: 13vw;
  }

  /* FOUDE - SINGLE PROJECT */
  .fondue__details-hide {
    top: -5vw;
    right: 5vw;
    height: 8vw;
    width: 8vw;
  }

  .fondue__details-hide span {
    width: 5vw;
    height: .2vw;
    z-index: 10;
  }

  .fondue__details .project-description {
    top: -5vw;
    left: -17vw;
  }

  .carousel .box {
    top: -10vw;
    right: -25%;
    width: 20vw;
    height: 20vw;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  .potter .project-description p:nth-of-type(2) {
    font-size: 1.2vw;
    line-height: 1.2vw;
  }

  .potter .view-project {
    top: 12vw;
  }

  .potter .heart {
    top: 1vw;
    left: 13vw;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body {
    font-size: 1.2vw;
  }

  body .heart img {
    width: 2vw;
  }

  .project-description ul {
    line-height: 1.3vw;
    font-size: 1.3vw;
  }

  .view-project::before {
    position: relative;
    top: .3vw;
  }

  /* HEADER */
  .address,
  .email {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }

  .email {
    top: 28vw;
    right: 11vw;
  }

  /* PROJECTS */
  .projects-list {
    top: 10vw;
    left: 1vw;
  }

  .projects-list__item {
    line-height: 2vw;
    font-size: 1.7vw;
  }

  .projects-list__item:hover img,
  .projects-list__item img {
    top: .2vw;
  }

  .header .logo-text {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }

  .fondue .heart {
    left: 8.2vw;
  }

  .potter .project-description p:first-of-type {
    font-size: 1.4vw;
    margin-bottom: .5vw;
  }

  .potter .project-description p:nth-of-type(2) {
    font-size: 1.2vw;
  }

  .potter .view-project {
    top: 12vw;
  }

  .potter .heart {
    top: 14vw;
    left: 7.2vw;
  }

  .tabano .project-description {
    bottom: 2vw;
    left: -2.5vw;
  }

  .tabano .view-project {
    bottom: 5vw;
    left: 20vw;
  }

  .tabano .heart {
    bottom: -.8vw;
    left: 25vw;
  }

  .louis .view-project {
    top: 13vw;
    left: 4vw;
  }

  .louis .heart {
    top: 15.5vw;
    left: 9vw;
  }

  .chairandottoman .heart {
    bottom: -.5vw;
    left: 28vw;
  }

  .fiji .view-project {
    bottom: 1vw;
    left: 17vw;
  }

  .fiji .heart {
    bottom: -1.9vw;
    left: 28vw;
  }

  .sesann .project-description {
    bottom: 0vw;
    left: 0vw;
  }

  .sesann .view-project {
    bottom: 2vw;
    left: 25vw;
  }

  .sesann .heart {
    bottom: -1vw;
    left: 36vw;
  }

  .alessi .project-description {
    top: 3vw;
    left: 10vw;
  }

  .alessi .view-project {
    left: 12vw;
  }

  .alessi .heart {
    bottom: -.1vw;
    left: 17vw;
  }

  /* TIMELINE */
  .timeline__box {
    top: 2.5vw;
    left: 4vw;
    font-size: 1.4vw;
  }

  .timeline__list li img {
    left: -2.5vw;
    top: -.2vw;
  }

  .timeline__list {
    font-size: 1.4vw;
  }

  /* STUDIO */
  .studio .about {
    font-size: 1.4vw;
    padding: 2vw 3vw 2vw 2vw;
    line-height: 1.4vw;
  }

  .studio .about p {
    margin-bottom: .5vw;
  }

  .studio:last-child img {
    padding-top: 2vw;
    width: 26vw;
  }

  .studio__awards {
    width: 26vw;
  }

  .studio__awards h3 {
    font-size: 1.4vw;
  }

  .studio__awards ul {
    font-size: 1.2vw;
    line-height: 1.2vw;
  }

  .staff__about h3 {
    font-size: 1.4vw;
  }


  .staff__about {
    right: -1vw;
    font-size: 1.4vw;
    padding: 2vw 3vw 2vw 2vw;
  }

  /* NEWS */
  .news .caption-styles {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }

  .news .read-more {
    bottom: -1.5vw;
  }

  /* FOOTER */
  .footer__contact {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }

  .footer .logo-text {
    font-size: 1.4vw;
    line-height: 1.4vw;
  }
}
}